<mat-toolbar color="primary">
    <span>
        ngEvents
    </span>
    <mat-nav-list>
        <mat-list-item [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Events</mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
        <mat-list-item [routerLink]="['/events/new']" routerLinkActive="active" >Create Event</mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
        <mat-list-item [routerLink]="['/user/profile']" routerLinkActive="active" >Welcome John</mat-list-item>
    </mat-nav-list>
</mat-toolbar>