<h1>Login</h1>
<hr>
<form class="flexForm" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="User Name..." (ngModel)="userName" name="userName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password..." type="password" (ngModel)="password" name="password"> 
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-raised-button color="accent" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>